body {
    font-family: Arial, sans-serif;
    background: #120c18;
    color: #e2e2e2;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #36055e, #0a0a47);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color: #eeedf5;
}

#experience-form {
    margin: 20px;
    padding: 20px;
    background: rgba(23, 4, 44, 0.707);
    border-radius: 5px;
}

#experience-form input, 
#experience-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: #79066f;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1em;
}

button:hover {
    background: #02b7b8;
}

#experiences-display {
    margin: 20px;
}

#experiences-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.experience-card {
    background: rgba(71, 7, 108, 0.199);
    border-radius: 5px;
    padding: 10px;
    width: calc(33% - 20px);
}

footer {
    text-align: center;
    margin: 20px 0;
}

footer a {
    color: #9763ff;
    text-decoration: none;
    margin: 5px 10px;
}

footer a:hover {
    text-decoration: underline;
}